
template-unipg-blx.bib
template-unipg.aux
template-unipg.bbl
template-unipg.blg
template-unipg.fdb_latexmk
template-unipg.fls
template-unipg.log
template-unipg.out
template-unipg.run.xml
template-unipg.synctex.gz
template-unipg.toc
